/*Global styles*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#com {
    text-align: center;
    color:pink;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mtext {
    text-align: center ;
    color:black;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navbar*/
#navbar {
    background-color: black;
}

#navbar .logo {
    width: 40px;
}